.navbar {
  height: 55px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  transition: all 0.4s ease;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  border-bottom: 1px solid #282c34;
  z-index: 10;
}

.navbar:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.nav-items {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(10px + 1vmin);
}

.nav-item > .active {
  text-decoration: underline;
}

.nav-item:hover {
  transform: scale(1.2);
}

.scrolled {
  height: 65px;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #282c34;
}

@media screen and (max-width: 750px) {
  .navbar {
    display: none;
  }
}
