.projets-container {
  background-color: transparent;
  margin: 0px;
  height: auto;
  min-height: 100vh;
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.projets-titre-container {
  width: 100%;
}

.projets-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100%;
}
