.projets-container {
  background-color: rgb(59, 168, 187);
  margin: 0px;
  height: auto;
  min-height: 100vh;
  padding: 30px 30px 30px 30px;
}

.projets-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}
