.project-card {
}

.S:hover {
  border: 5px solid white;
}

.S {
  width: 200px;
  max-width: 100%;
  border: 3px solid white;
}

.L {
  width: 300px;
  max-width: 100%;

  border: 3px solid white;
}

.project-description {
  width: 400px;
  overflow-wrap: break-word;
  color: aliceblue;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
