.project-section {
  background-color: transparent;
  margin: 0px;
  height: auto;
  min-height: 100vh;
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(10px + 2.5vmin);
}

.project-title-container {
  width: 90%;
}

.project-cards-container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.project-card {
  width: 500px;
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .project-card {
    width: 330px;
    margin: 10px;
    margin-bottom: 25px;
  }
  .project-section {
    background-color: teal;
  }
}
